@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typewrite::after {
  content: "|";
  margin-left: 5px;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px;
}

canvas {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
}
body {  
  height: 100%;
  background: #000000;
  color: #485666;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  user-select: none;
  overflow: hidden;
}

header {
	display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  min-height: 200px;
}

header .container {
	z-index: 9;
	position: relative;
}

#top {
  display: flex;
  display: flex;
  margin: 0 auto;
  z-index: 600;
}

.profile {
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 800;
}

.img-profile {
  border-radius: 100%;
  border: 10px solid #48566600;
  overflow: hidden;
  z-index: 750;
  margin-top: 5%;
}

.text-profile {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-size: 20px;
  z-index: 700;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.item {
  display: inline-block;
  color: white;
  margin: 0px 100px 0px 100px;
}
.item ul {
  list-style: none;
  padding: 0px 0px;
}

hr {
  width: 16%;
}

.menu {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
}

.item ul a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}

.item ul a:hover {
  text-decoration: none;
  color: rgb(126, 125, 125);
}


.item p {
  text-align:left;
}

.mid hr {
  width: 100%;
}

.infos {
  font-size: 15px;
  color: rgb(155, 155, 155);
}

.social-links a{
  padding: 220px;
}

.item li {
  padding-top: 10%;
}

/* Responsivo */

@media screen and (min-width: 1367px) and (max-width: 1600px) and (max-height: 900px) {

    .img-profile {
      margin-top: 0;
    }

    .container {
      margin-top: 0;
    }

  .text-profile {
    padding-top: 5px;
  }
}

/* Responsivo */

@media screen and (min-width: 901px) and (max-width: 1366px) {
  body {
    overflow: hidden;
  }

  .img-profile {
    margin-top: 0;
  }

  .container {
    margin-top: 0;
  }

  h2 {
    font-size: 14px !important;
  }

  .text-profile {
    font-size: 14px;
    padding-top: 5px;
  }

  .infos {
    font-size: 12px;
  }

  .menu {
    margin-bottom: 10px;
  }

  .item ul a {
    font-size: 12px;
  }

  .item p {
    font-size: 12px;
  }
}
 
/* Mobile */

@media screen and (max-width: 900px) {
  body {
    overflow: scroll;
  }

  canvas {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 1200px;
  }

  .text-profile {
    font-size: 18px;
  }

  .container {
    flex-direction: column;
  }

  .menu {
    margin-bottom: 20px;
  }

  .item {
    margin: 0px 15px 0px 15px;
  }

  .item p {
    text-align: center;
  }
}

